.booleanInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .3rem;
}

.booleanInputs div {
    width: 100%;
}
.citiesInputGroup {
    background-color: rgb(14, 33, 50);
}
.inputGroup {
    display: flex;
    flex-flow: column wrap;
    gap: .5rem;

}

.inputGroup div {
    margin: .5rem 0px;
}

@media screen and (max-width: 1450px) {
    .booleanInputs {
        justify-content: space-around;
        align-items: start;
    }

}

@media screen and (max-width: 500px) {
    .booleanInputs {
        justify-content: start;
    }

    .booleanInputs div {
        background: none !important;
        border: none !important;
    }

    .inputGroup{
        justify-content: start;
    }

}