.link {
    margin: 1rem auto;
    padding: 0px;
    text-decoration:none ;
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.link:hover {
    opacity: .95;
}

.roommateCardContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: var(--box-primary);
    border-radius: .375rem;
    color: var(--light-font);
    padding: 1rem;
    overflow: hidden;
}

.name {
    font-size: 2rem;
    font-weight: 600;
}

.cardInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column wrap;
}

.cardInfoPar {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}


@media screen and (max-width: 1500px) {
    .dissappearing {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .name {
        font-size: 1.5rem;
    }
    /* .roommateCardContainer img {
        display: none;
    } */
    .roommateCardContainer{

        border-radius: 0px;
    }
}

@media screen and (max-width: 850px) {
    .cardInfoPar:nth-child(2) {
        display: none;
    }
    .cardInfoPar:nth-child(1) {
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    .roommateCardContainer {
        flex-direction: column;
        height: auto;
    }
    .cardInfoPar:nth-child(1){
        margin-top: .5rem;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
    }
}