
.citiesInputGroup{
    justify-content: center;
    align-content: center;
}

.citiesInputGroup input {
    height: 3rem;
    border-radius: 10px !important;
}
.citiesInputGroup p {
    margin-bottom: 5px !important;
}
.citiesInputGroup div {
    width: 100% !important;
    margin: 0px auto !important;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;
    margin: 1rem auto;
}


@media screen and (max-width: 1450px) {
    
    .citiesInputGroup {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .citiesInputGroup input {
        border-radius: 10px !important;
    }
    .citiesInputGroup p {
        margin-bottom: 5px !important;
    }
    .citiesInputGroup div {
        width: 100% !important;
        margin: 0px auto !important;
    }
    .inputGroup {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }
}


