.booleanInputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem;
    border-radius: .3rem;
    margin: .5rem auto;
}

.inputGroup {
    /* display: flex; */
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px auto;
}

.inputGroup div {
    margin: .5rem 0px;
}
@media screen and (max-width: 1450px) {
    .booleanInputs {
        justify-content: space-around;
        align-items: start;
    }

}



@media screen and (max-width: 500px) {
    .booleanInputs {
        justify-content: start;
    }

    .booleanInputs div {
        background: none !important;
        border: none !important;
    }

    .inputGroup2{
        justify-content: start;
    }

}