.container {
    display: flex;
    flex-flow: column;
    background-color: var(--box-secondary);
    width: 80%;
    margin: 2rem auto;
    color: var(--light-font);
    padding: 2rem;
    border-radius: .5rem;
    gap: 1rem;
}

.headerContainer {
    display: flex;
    flex-flow: row;
}
.sideHeader span, .sideHeader div{
    font-size: 1.2rem;
}

.sideHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: nowrap; */
    width: 100%;
    justify-content: start;
    justify-items: start;
    gap: 20px;
}

.baseInf {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.name {
    font-size: 3rem;
}

.sideHeader div {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.warning {
    font-size: 1.3rem;
    font-weight: 600;
    color: wheat;
    
}

.city {
    padding: .5rem;
}

.pfp img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}
