.container {
    background-color: #fff;
    margin: auto;
    justify-items: center;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 3rem;
    border-radius: 1rem;
    height: fit-content;
}

.formCont {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.sameLine {
    display: flex; 
    width:90%; 
    gap: 20px;
}

.link{
    text-decoration: none;
    color: blue;
    margin-bottom: .5rem;
}
.link:hover {
    text-decoration: underline;
}

.regLinks {
    display: flex;
    gap: 25px;
    margin-top: .1rem;
}

@media screen and (min-width: 1700px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 1201px) {
    .container {
        width: 60%;
    }
}


@media screen and (max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: unset;
    }
    .formCont {
        width: 100%;
    }
}

@media screen and (max-width:575px) {
    .sameLine {
        flex-flow: column wrap;
        align-content: center;
        width: 100%;
    }
    .regLinks {
        flex-direction: column;
        align-items: center;
    }
}