.container {
    margin: auto auto;
    justify-items: center;
    align-content: center;
    border: 1px solid lightgrey;
    padding: 3rem;
    border-radius: 1rem;
    width:70%;
}

@media screen and (min-width: 1700px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 70%;
        border: none;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        border: none;
    }
}

.link{
    display: block;
}