.button, .button2 {
    padding: .5rem;
    border-radius: .4rem;
    border: none;
    width: 250px;
    margin: .5rem auto;
    margin-top: .75rem;
    font-weight: 700;
}

.button {
    background-color: var(--button-primary);
    color: var(--light-font);  
    color: wheat;  
    border: 1px solid var(--button-primary);
}

.button:hover {
    background-color: var(--button-secondary);
    color: var(--dark-font);
    border: 1px black solid;
    opacity: .9;
}

.button:active {
    padding: .6rem;
}

.button2 {
    background-color: var(--button2-primary);
    color: var(--dark-font);   
    border: 1px solid lightgrey; 
}


.button2:hover {
    background-color: var(--button2-secondary);
    color: var(--light-font);
    opacity: .9;
}

.button2:active {
    padding: .6rem;
}
