.container {
    border-radius: .375rem;
    border: 1px solid lightgrey;
    margin: 1rem;
}

.listDiv{
    display: flex;
    font-size: .85rem;
    background-color: rgb(238, 225, 42);
    border-radius: 2rem;
    margin-top: .5rem;
    justify-items: center;
    align-content: center;
    width: fit-content;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.listDiv:hover{
    opacity: .7;
    cursor: pointer;
}

.container {
    background-color: white;
}
.listItem {
    list-style: none;
    padding: .5rem;
}

.listContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .375rem;
}