.container {
    border-radius: .375rem;
    border: 1px solid lightgrey;
    margin: .5rem 0rem;
}

.listDiv{
    display: flex;
    font-size: .85rem;
    background-color: #e7e7e6;
    border-radius: .1rem;
    margin-top: .5rem;
    justify-items: center;
    align-content: center;
    width: fit-content;
    color: rgb(0, 0, 0);
}

.listDiv:hover{
    opacity: .7;
    cursor: pointer;
}

.container {
    background-color: white;
    color: #000;

}
.listItem {
    list-style: none;
    padding: .5rem;
    color: #000;
}

.listContainer {
    color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}