.button {
    margin: .3rem 0rem;
    padding: .5rem;
    border: 1px lightgrey solid;
    border-radius: .4rem;
    background-color: white;
}

.button:hover {
    background-color: rgba(51, 51, 51, .7);
    color: white;
}

.button:active{
    color: black;
    background-color: white;
}

