.container {
    width: 90%;
    margin: 10px 0px;
}

.labelCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.passwordDiv {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: 1px solid #dee2e6;
    padding: 0px;
    border-radius: .375rem;
    background-color: white;
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }
}