.container {
    width: 90%;
    margin: 10px 0px;
}

.labelCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.tooltip {
    background-color: aliceblue;
}