.page {
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    border-radius: 1rem;
    color: var(--dark-font);
    width: 60%;
    padding: 1.5rem;
}

.inform {
    font-size: 1.8rem;
}

.accordionHeader {
    line-height:0px; 
    font-size:1.5rem;
    margin:0px;
}

.accordionBody {
    font-size: 1.2rem;
    margin: 0px;
}

.accordion {
    width:60%; 
    align-self:center; 
    height:600px;
}

.img {
    width: 500px;
    border-radius: 1rem;
}

@media screen and (max-width:1500px) {
    .img {
        width: 400px;
    }
}

@media screen and (max-width:1250px) {
    .container {
        gap: 1rem;
    }
    .accordionBody {
        font-size: 1rem;
    }
    .accordionHeader{
        font-size: 1.1rem;
    }
    .inform {
        font-size: 1.4rem;
    }
    .box {
        width: 50%;
    }

    .accordion {
        width: 50%;
    }
    .container {
        padding: .5rem;
    }
}

@media screen and (max-width:975px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .box {
        text-align: center;
        width: 95%;
    }

    .img {
        display: none;
        width: 300px;
    }

    .accordion {
        width: 80%;
    }
}

@media screen and (max-width:650px) {
    .box {
        text-align: center;
        width: 95%;
        flex-wrap: nowrap;
    }
    .container {
        justify-content: center;
        align-items: start;
    }
    .accordion {
        width: 95%;
        height: auto;
    }
    .accordionHeader {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:650px) {
    .box {
        text-align:start;
        width: 99%;
    }

    .inform {
        font-size: 1.2rem;
    }

    .accordion {
        width: 100%;
        height: auto;
    }
    .accordionHeader {
        font-size: 1.1rem;
    }
    .accordionBody {
        font-size: .9rem;
    }
}