.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--box-secondary);
    width: 60%;
    padding: 1.5rem;
}

.img {
    width: 500px;

}