.citiesContainer {
    border-radius: .35rem;
    padding: 1rem;
}

.citiesInputGroup{
    margin-top: 1rem;
    flex-flow: row nowrap;
}

.citiesInputGroup input {
    height: 3rem;
}

.addButton {
    height: 3rem;
    padding: 0px .5rem;
    min-width: 5rem;
}

.citiesSelectedDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.citiesSelectedDiv p {
    margin: .5rem 0px;
}

.citiesList {
    list-style: none;
    margin: .5rem 0px;
    display: flex;
    flex-flow: row wrap;
}


.citiesSelected {
    display: flex;
    border-radius: .1rem;
    background-color: #e7e7e6;
    color: black;
    font-size: .85rem;
    align-items: center;
    margin: .25rem;
    width: fit-content;
    padding: .5rem;
}

.citiesSelected::before {
    content: "X";
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    margin-right:1rem;
}

.citiesSelected:hover {
    cursor: pointer;
    opacity: .75;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;
    margin: 1rem auto;
}

.inputGroup1 div {
    width: 20%;
}




@media screen and (max-width: 1450px) {
    
    .citiesInputGroup {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .citiesInputGroup button {
        margin-top: 5px;
        border-radius: 10px !important;
    }
    .citiesInputGroup input {
        border-radius: 10px !important;
    }
    .citiesInputGroup p {
        margin-bottom: 5px !important;
    }
    .citiesInputGroup div {
        width: 100% !important;
        margin: 0px auto !important;
    }
    .inputGroup1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        gap: 10px;
    }
    
    .inputGroup1 div {
        width: 90%;
        margin: 0px auto;
    }
    .citiesSelectedDiv{
        flex-direction: column;
    }
    .citiesList{ 
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
}


