.booleanInputs {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    padding: .5rem;
    border-radius: .3rem;
    margin: 1rem auto;
}

.inputGroup2 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    gap: 1rem;
}

@media screen and (max-width: 1450px) {
    .booleanInputs {
        justify-content: space-around;
        align-items: start;
    }

}



@media screen and (max-width: 500px) {
    .booleanInputs {
        justify-content: start;
    }

    .booleanInputs div {
        background: none !important;
        border: none !important;
    }

    .inputGroup2{
        justify-content: start;
    }

}