.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    background-color: var(--box-secondary);
    width: 100%;
    margin: 2rem auto;
    color: var(--light-color);
    padding: 2rem;
    border-radius: .5rem;
}

.listContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

