.formCont {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px lightgrey solid;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.title {
    align-self: center;
}