.formCont {
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px lightgrey solid;
    background-color: var(--box-primary);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.title {
    align-self: center;
}

@media screen and (max-width:950px) {
    .formCont {
        width: 100%;
        margin: 2rem auto;
        padding: 1rem;
        border: none;
        background: none;
        border-radius: 0px;
    }
}