:root {
  --global-font-family: Verdana;

  --header : #a6272a;
  --sidebar: #3d2221;

  /* --main-background: #f3eed9; */
  --main-background: #e5c295;

  --box-secondary: #f3eed9;
  --box-primary: #fff6f5;

  --button-primary: #332315;
  --button-secondary: #e5c295;
  --button-tertiary: rgb(238, 225, 42);

  --light-font: #fff5ea;
  --dark-font: #3d2221;
}

html {
  font-size: 20px;
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 18px;
  }
}


.location-search-input {
  width: 100%;
  border-radius: .3em 0rem 0rem .3rem;
  padding: 5px 10px;
  border: none;
}

.location-search-input:focus {
  outline-color: rgb(30, 8, 8);
  border-radius: 0rem;
}

.inputSuggestion {
  
  color: var(--box-secondary);
  border-bottom: lightgray solid 1px;
  padding: 5px;
}

.inputSuggestion:hover {
  background-color: #6b6960 !important;
  color: var(--box-primary);
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 9999 !important;
  display: flex;
  flex-flow: column;
}
