html {
  font-size: 20px;
  margin: 0px;
  box-sizing: border-box;
}

.location-search-input {
  width: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
  margin: 0px;
  padding: 5px 10px;
  border: none;
  text-align: start;
}

.location-search-input:focus {
  outline-color: white;
  border-radius: 0rem;
}

.inputSuggestion {
  color: black;
  border: 1px lightgray solid;
  padding: 5px;
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}