:root {
  --global-font-family: Verdana;
  --dark-grey: #333232;
  --light-grey: #3d3d3c;
  --background-white: #fff5ea;
  --off-white: #f7f5f4;
  --wheat: #f5dfb2;
  --red : rgb(168, 17, 17);

}

html {
  font-size: 20px;
  margin: 0px;
  box-sizing: border-box;
}

.location-search-input {
  width: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
  margin: 0px;
  padding: 5px 10px;
  border: none;
  text-align: start;
}

.location-search-input:focus {
  outline-color: white;
  border-radius: 0rem;
}

.inputSuggestion {
  color: black;
  border: 1px lightgray solid;
  padding: 5px;
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 9999 !important;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
