.brandCont {
    display: flex;
    width: 100%;
    height: 75px;
    border-bottom: 1px var(--header) solid;
    background-color: var(--header);
    justify-content: space-between;
    color: white;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
}

.brandIcon {
    margin: auto 0px;    
}

.brandTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: auto 15px;
}

.link {
    display: flex;
    text-decoration: none;
    color: white;
    
}

.buttons a {
    margin: 0px .5rem;
}

@media screen and (max-width:950px ) {
    .brandCont {
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: auto;
        padding-bottom: .5rem;
    }
    .buttons {
        display: flex;
        padding: 0px;
        margin: 0px;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
    .buttons button{ 
        margin: 0px;
    }
}