.container {
    width: calc(100% + 500px);
    display: flex;
    justify-content: start;
    overflow: hidden;

}

.chatContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.chatsContainer{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100vh;
    width: 700px;
    padding: 10px;
    background-color: var(--box-primary);
}

.warning {
    /* background-color: var(--box-secondary); */
    color: wheat;
    padding: 1rem;
    border: 1px solid var(--form-border);
    border-radius: 1rem;
}

@media screen and (max-width: 1350px) {
    .chatsContainer{
        width: 500px;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        flex-direction: column;
    }
    .chatsContainer{
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
        row-gap: 10px;
        min-height: 0px;
    }

    .chatContainer {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 550px) {
    .hide {
        display:inline;
    }
}