
.chatContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.chatbox{
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    height: 80vh;
    background-color: var(--form-background);
    border: 1px solid var(--form-border);
    padding: .5rem;
    min-width: 350px;
}

.me {
    align-self: flex-end;
    justify-self: end;
    background-color: rgb(232, 137, 135);
    color: var(--dark-font);
}

.recipient {
    justify-self: start;
    background-color: #575151;
    color: var(--light-font);
    width: fit-content;
}

.name {
    margin: 0px;
    font-weight: bold;
    background-color: var(--dark-font);
    width: 100%;
    color: var(--light-font);
    font-size: 2rem;
    align-self: start;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.message {
    display: flex;
    min-width: 200px;
    padding: .5rem;
    /* width: 200px; */
    border-radius: 5rem;
    padding: 20px;
    max-width: 70%;
    flex-wrap: wrap;
}

.messageContent{
    margin: 0px;
    width: 100%;
    word-wrap: break-word;

}

.form {
    display: flex;
    padding: 0rem 2rem;
    justify-items: center;
    justify-content: center;
    align-items: baseline;
}
.form input {
    height: 2.5rem;
    width: 70%;
    border: 1px solid;
    padding: .5rem;
    border-color: var(--form-border);
    border-radius: .5rem;
}
.form button {
    width: 30%;
}

@media screen and (max-width:1150px) {
    .chatbox {
        height: 60vh;
    }
    .chatContainer{
        width: 100%;
    }
    .name {
        text-align: center;
    }
}

